# Node.js specific files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log
*.log.*

# Dependency directories
frontend/node_modules/
backend/node_modules/
CV-BACKEND/app/models

CV-BACKEND/app/models/*
!CV-BACKEND/app/models/.gitkeep
# Build outputs
frontend/dist/
frontend/build/
backend/build/
backend/dist/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# Testing related files
coverage/

# Temporary files
*.tmp
*.temp
*.bak

# Frontend specific
frontend/.next/
frontend/.nuxt/
frontend/.parcel-cache/
frontend/out/
frontend/static/

# Backend specific
backend/.env
backend/.env.local
backend/tmp/
backend/.pytest_cache/

# Ignore build artifacts for TypeScript/JavaScript
*.tsbuildinfo
frontend/tsconfig.tsbuildinfo
backend/tsconfig.tsbuildinfo

# Git-specific ignore
.git/
*.pt
*.pt
/CV-BACKEND/app/models
*.pt
CV-BACKEND/app/models/acne_model.pt
